//colors

$LinearGradient:  hsl(249, 99%, 64%) to hsl(278, 94%, 30%); //(active input border)
$Red: hsl(0, 100%, 66%); //(input errors)

$White: hsl(0, 0%, 100%);
$LightViolet: hsl(270, 3%, 87%);
$DarkViolet: hsl(279, 6%, 55%);
$darkerViolet: hsl(278, 68%, 11%);